DATABASE_URL="postgres://postgres.cipsjtikuxepydmaukzr:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.cipsjtikuxepydmaukzr.supabase.co:5432/postgres"